.weatherBg{
  background: url(https://static.sciencelearn.org.nz/images/images/000/003/176/embed/FIR_ITV_RuralFireRisk_Weather_CloudySky_123RF_901534.jpg?1522314128);
  height:50vh;
  display:flex;
  align-items: center;
  flex-direction: column;;
  justify-content: center;
  background-position:center center;
  color:darkblue;
  
 }
 body{
   background:lightblue;
 }
.weatherResultBox{
 margin:auto;
  width:300px;
  height:300px;
  background-color:aliceblue;
 
}
.weatherIcon{
  width:100px;
  height:100px;
  margin-top: 2rem;
}
.weatherCity{
  font-size: 35px;
}
.weatherTemp{
  font-size: 55px;
  font-weight: 700;

}